.AddVoters {
    text-align: center;
}

  
.AddVoters-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
  
.AddVoters-link {
    color: #61dafb;
}
  
.button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
    text-decoration:none;
}

input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=file] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
}

a {
    color: white;
}

.AddVotersAlert{
    color: red;
}